.contacts .link-1::before {
  background: url("../img/sprites/sprite.png") no-repeat 0px 0; }

.contacts .link-2::before {
  background: url("../img/sprites/sprite.png") no-repeat -35px 0; }

.contacts .link-3::before {
  background: url("../img/sprites/sprite.png") no-repeat -70px 0; }

.contacts .link-4::before {
  background: url("../img/sprites/sprite.png") no-repeat -105px 0; }

.links .link-1 {
  background: url("../img/sprites/sprite1.png") no-repeat 0px 0; }

.links .link-2 {
  background: url("../img/sprites/sprite1.png") no-repeat -55px 0; }

.links .link-3 {
  background: url("../img/sprites/sprite1.png") no-repeat -110px 0; }

.links .link-4 {
  background: url("../img/sprites/sprite1.png") no-repeat -165px 0; }

body {
  height: 100%;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }
  body::before, body::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: -1; }
  body::before {
    background-color: #03080C;
    left: 0; }
  body::after {
    background-color: #010605;
    right: 0; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  outline: none; }

.wrapper {
  max-width: 1459px;
  height: 100%;
  margin: 0 auto;
  background: url("../img/background1459x1667.png") top;
  background-color: #03080C;
  background-size: auto;
  -webkit-box-shadow: inset 20px 0 20px #03080C, inset -20px 0 20px #010605;
          box-shadow: inset 20px 0 20px #03080C, inset -20px 0 20px #010605;
  overflow: hidden; }

.container {
  width: 85.3413%;
  margin: 0 auto;
  max-width: 1143px;
  min-width: 320px; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.hidden {
  display: none; }

.main-header {
  height: 170px;
  width: 100%;
  position: relative;
  margin: 0 auto 20px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: url("../img/headerO3.png") no-repeat;
  background-size: 100% 170px; }
  @media only screen and (max-width: 600px) {
    .main-header {
      height: 150px;
      width: 100%;
      background-size: 100% 150px;
      margin-bottom: 15px; } }
  .main-header::before, .main-header::after {
    height: 154px;
    width: 140px;
    content: "";
    display: block;
    position: absolute;
    top: 0px; }
    @media only screen and (max-width: 600px) {
      .main-header::before, .main-header::after {
        height: 134px;
        width: 120px; } }
  .main-header::before {
    background-image: url("../img/handL.png");
    background-size: 100% auto;
    left: -105px; }
    @media only screen and (max-width: 600px) {
      .main-header::before {
        left: -85px; } }
  .main-header:after {
    background-image: url("../img/handR.png");
    background-size: 100% auto;
    right: -105px; }
    @media only screen and (max-width: 600px) {
      .main-header:after {
        right: -85p; } }
  .main-header_name {
    height: 70px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: no-wrap;
    position: absolute;
    top: 65px;
    z-index: 2;
    left: 0;
    font: normal 65px/65px "Cyfra";
    letter-spacing: 6px;
    color: #2297d6;
    text-align: center;
    text-shadow: 0px 0px 5px #49ace2; }
    @media only screen and (max-width: 600px) {
      .main-header_name {
        font: 50px/50px "Cyfra";
        letter-spacing: 4px;
        word-spacing: -10px; } }
    @media only screen and (max-width: 360px) {
      .main-header_name {
        font: 45px/45px "Cyfra"; } }
  .main-header_avatar {
    position: absolute;
    width: 160px;
    height: 178px;
    top: 15px;
    left: 50px;
    z-index: 3; }
    @media only screen and (max-width: 800px) {
      .main-header_avatar {
        display: none; } }
    .main-header_avatar img {
      width: 100%;
      height: auto; }

.main-page {
  position: relative;
  width: 100%;
  margin: 0 auto 30px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5), inset 0 10px 30px rgba(255, 255, 255, 0.8), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5), inset 0 10px 30px rgba(255, 255, 255, 0.8), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  padding: 10px;
  z-index: 5; }
  .main-page_blur {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: url("../img/background1459x1667.png") -162px -193px no-repeat repeat;
    background-size: auto;
    -webkit-filter: blur(5px);
            filter: blur(5px); }
  .main-page_content {
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 300px; }
    .main-page_content::after {
      clear: both;
      content: "";
      display: table; }
    @media only screen and (max-width: 768px) {
      .main-page_content {
        padding-left: 0; } }

.sticky-content.fixed {
  position: fixed;
  top: 0; }

.content-left {
  height: 100%;
  width: 300px;
  position: absolute;
  left: 0;
  -webkit-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
  overflow: hidden; }
  .content-left::after {
    clear: both;
    content: "";
    display: table; }
  @media only screen and (max-width: 768px) {
    .content-left {
      position: static;
      margin-bottom: 20px;
      width: 100%; } }
  .content-left .content_title {
    -webkit-border-radius: 4px 0 0 0;
            border-radius: 4px 0 0 0; }
    @media only screen and (max-width: 768px) {
      .content-left .content_title {
        -webkit-border-radius: 4px 4px 0 0;
                border-radius: 4px 4px 0 0; } }
  .content-left .port-photo {
    display: none;
    min-width: 130px; }
    @media only screen and (max-width: 768px) {
      .content-left .port-photo {
        display: block;
        margin: 25px 25px 20px 25px;
        width: 35%; } }
    @media only screen and (max-width: 600px) {
      .content-left .port-photo {
        display: none; } }
    .content-left .port-photo img {
      height: auto;
      width: 100%;
      display: block; }
  .content-left_wrapper {
    width: 100%;
    height: 100%;
    float: right; }
    @media only screen and (max-width: 768px) {
      .content-left_wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .content-left .baron-wrapper {
    width: 300px; }
    @media only screen and (max-width: 768px) {
      .content-left .baron-wrapper {
        -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.2);
                box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.2); } }
    @media only screen and (max-width: 600px) {
      .content-left .baron-wrapper {
        -webkit-box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.2);
                box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.2); } }

.content-right {
  height: 100%;
  width: 100%;
  -webkit-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
  -webkit-box-shadow: inset 0px 0 16px 0 rgba(0, 0, 0, 0.6);
          box-shadow: inset 0px 0 16px 0 rgba(0, 0, 0, 0.6);
  float: right; }
  @media only screen and (max-width: 768px) {
    .content-right {
      float: right; } }
  .content-right .content_title {
    -webkit-border-radius: 0 4px 0 0;
            border-radius: 0 4px 0 0; }
    @media only screen and (max-width: 768px) {
      .content-right .content_title {
        -webkit-border-radius: 4px 4px 0 0;
                border-radius: 4px 4px 0 0; } }

.content_title {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font: normal 22px/45px "Bicubik", sans-serif;
  letter-spacing: 3px;
  color: #C9C9C9;
  text-shadow: 1px -1px 1px rgba(201, 201, 201, 0.2);
  background-color: rgba(255, 111, 0, 0.4);
  -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.6), inset 0 -2px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.6), inset 0 -2px 0 0 rgba(255, 255, 255, 0.2); }

@media only screen and (max-width: 768px) {
  .baron {
    height: 100%; } }

.active_header {
  background-color: rgba(30, 42, 88, 0.6); }

.inactive_header {
  background-color: rgba(30, 42, 88, 0.6); }
  .inactive_header:hover {
    background-color: rgba(2, 11, 47, 0.4); }

.accordion_content {
  width: 300px !important;
  height: auto;
  display: none;
  background-color: rgba(13, 19, 35, 0.3);
  padding: 17px 17px 10px; }
  .accordion_content:last-child {
    margin-bottom: 30px; }
    @media only screen and (max-width: 768px) {
      .accordion_content:last-child {
        margin-bottom: 0; } }
  .accordion_content .about-me-photo {
    display: none; }
    @media only screen and (max-width: 600px) {
      .accordion_content .about-me-photo {
        display: block; } }

.accordion_header {
  width: 300px;
  margin: 0;
  padding: 0px 10px 0px 20px;
  text-transform: uppercase;
  text-align: left;
  font: normal 15px/43px "Bicubik";
  color: #ba753f;
  letter-spacing: 2px;
  text-shadow: 1px -1px 1px rgba(236, 236, 236, 0.2);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  background-color: rgba(13, 26, 75, 0.59);
  border-bottom: 1px solid rgba(7, 10, 26, 0.77); }

.accordion .acc-text {
  font: 15px/23px "FiraSansBook";
  color: gray;
  margin: 0px 0px 10px 0px; }
  .accordion .acc-text a {
    color: rgba(255, 111, 0, 0.4);
    text-decoration: none; }
    .accordion .acc-text a:hover {
      text-decoration: underline; }

.content-left .certificates {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .content-left .certificates_item {
    height: 110px;
    width: 80px;
    display: block; }
    .content-left .certificates_item img {
      height: auto;
      width: 100%; }

.content-left .skills {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .content-left .skills span {
    padding: 2px 10px 0;
    margin: 0 5px 10px 0;
    font: 17px/30px "FiraSansBook";
    -webkit-border-radius: 15px;
            border-radius: 15px; }
    .content-left .skills span.active {
      color: #2b8040;
      border: 3px solid #1e662f; }
    .content-left .skills span.non-active {
      color: #29323d;
      border: 3px solid #29323d; }

.content-left .links {
  font-size: 0; }
  .content-left .links [class*="link-"] {
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px 0;
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .content-left .links [class*="link-"]:hover {
      opacity: 0.7; }

.content-left .contacts a[class*="link-"] {
  position: relative;
  display: block;
  padding-left: 40px;
  margin: 0 0 20px 10px;
  color: gray;
  font: 17px/30px "FiraSansBook";
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .content-left .contacts a[class*="link-"]:last-child {
    margin-bottom: 10px; }
  .content-left .contacts a[class*="link-"]:hover {
    -webkit-transform: scale(1.1) translateX(10px);
        -ms-transform: scale(1.1) translateX(10px);
            transform: scale(1.1) translateX(10px); }
  .content-left .contacts a[class*="link-"]::before {
    content: "";
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
    left: 0px;
    top: 0;
    opacity: 0.4; }

.shadow {
  height: 5px;
  width: 5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #2297d6;
  -webkit-box-shadow: 0px 0 5px 5px #2297d6;
          box-shadow: 0px 0 5px 5px #2297d6; }

.portfolio {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: -1px 0 0 rgba(255, 255, 255, 0.2);
  padding: 40px 0  10px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  @media only screen and (max-width: 768px) {
    .portfolio {
      -webkit-box-shadow: none;
              box-shadow: none; } }
  .portfolio-item {
    height: 250px;
    width: 200px;
    margin: 0 15px 25px;
    position: relative;
    padding: 15px;
    text-align: center;
    trasition: all;
    -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7);
            box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7); }
    .portfolio-item_left, .portfolio-item_right {
      position: absolute;
      width: 100px;
      height: 250px;
      top: 0;
      z-index: -1; }
    .portfolio-item_left {
      left: 0; }
    .portfolio-item_right {
      right: 0; }
  .portfolio svg line {
    stroke-width: 4;
    stroke: #2297d6; }
  .portfolio_link {
    display: block;
    height: 200px;
    width: 100%;
    overflow: hidden; }
    .portfolio_link img {
      height: auto;
      width: 100%;
      display: block;
      text-align: center; }
  .portfolio .git-button {
    opacity: 0;
    display: inline-block;
    width: 53px;
    margin-top: 17px;
    color: #2297d6;
    font: 16px/25px "FiraSansMedium";
    text-align: center;
    text-decoration: none;
    letter-spacing: 1.2px;
    padding: 2px 0 0;
    border: 3px solid #2297d6;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    background-color: #000; }

.portfolio-item:hover::before {
  -webkit-animation-name: scale;
          animation-name: scale;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.portfolio-item:hover .portfolio-item_left .top-line {
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: -webkit-transform .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out;
  transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out; }

.portfolio-item:hover .portfolio-item_left .left-line {
  -webkit-transform: translateY(250px);
      -ms-transform: translateY(250px);
          transform: translateY(250px);
  -webkit-transition: -webkit-transform .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out;
  transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
  -webkit-transition-delay: .1s;
          transition-delay: .1s; }

.portfolio-item:hover .portfolio-item_left .bottom-line {
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  -webkit-transition-delay: .2s;
          transition-delay: .2s; }

.portfolio-item:hover .portfolio-item_right .top-line {
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out; }

.portfolio-item:hover .portfolio-item_right .left-line {
  -webkit-transform: translateY(250px);
      -ms-transform: translateY(250px);
          transform: translateY(250px);
  -webkit-transition: -webkit-transform .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out;
  transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
  -webkit-transition-delay: .1s;
          transition-delay: .1s; }

.portfolio-item:hover .portfolio-item_right .bottom-line {
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  -webkit-transition-delay: .2s;
          transition-delay: .2s; }

.portfolio-item:hover .git-button {
  opacity: 1;
  -webkit-transition: 0s ease-in-out;
  transition: 0s ease-in-out;
  -webkit-transition-delay: .35s;
          transition-delay: .35s;
  -webkit-animation-name: scale;
          animation-name: scale;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
  -webkit-animation-duration: .4s;
          animation-duration: .4s; }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes scale-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 1; }
  90% {
    transfotm: scale(1);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes scale-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 1; }
  90% {
    transfotm: scale(1);
    opacity: 0; }
  100% {
    opacity: 0; } }

.mfp-ready .mfp-figure {
  opacity: 0; }

.mfp-zoom-in .mfp-figure, .mfp-zoom-in .mfp-iframe-holder .mfp-iframe-scaler {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95); }

.mfp-zoom-in.mfp-bg, .mfp-zoom-in .mfp-preloader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mfp-zoom-in.mfp-image-loaded .mfp-figure {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.mfp-zoom-in.mfp-ready .mfp-iframe-holder .mfp-iframe-scaler {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.mfp-zoom-in.mfp-ready.mfp-bg, .mfp-zoom-in.mfp-ready .mfp-preloader {
  opacity: 0.8; }

.mfp-zoom-in.mfp-removing .mfp-figure, .mfp-zoom-in.mfp-removing .mfp-iframe-holder .mfp-iframe-scaler {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0; }

.mfp-zoom-in.mfp-removing.mfp-bg, .mfp-zoom-in.mfp-removing .mfp-preloader {
  opacity: 0; }

.mfp-iframe-scaler {
  overflow: visible; }

.mfp-zoom-out-cur {
  cursor: auto; }
  .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: pointer; }

.mfp-preloader {
  width: 30px;
  height: 30px;
  background-color: #FFF;
  opacity: 0.65;
  margin: 0 auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
          animation: rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }

@keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
