<!DOCTYPE html>
<html lang="ru">
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <title>J-Wood</title>
  <meta content="" name="description">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <link rel="stylesheet"  href="css/normalise.css">
  <link rel="stylesheet"  href="css/style.min.css">
  <link rel="stylesheet"  href="css/media.css">
  <link rel="stylesheet"  href="libs/magnific-popup/magnific-popup.css">
  
</head>
<body>

<div class="wrapper">

  <!-- HEADER -->

  <section class="page-header">

    <div class="container"> 
      <header class="header header-top">
        <nav class="header-nav">
          <ul class="header-list">
            <li><a class="header-link active" href="#" name="home">Home</a></li>
            <li><a class="header-link" href="#about-me">About Me</a></li>
            <li><a class="header-link" href="#portfolio">Portfolio</a></li>
            <li><a class="header-link" href="#contact">Contact</a></li>
          </ul>
        </nav>
      </header>


      <div class="header-logo">
        <img src="img/Logo.png" alt="#">
      </div>

      <h2 class="header-title"><span>JWOOD</span>PHOTOGRAPHY</h2>

      
      <p class="scroll-down"><i class="arrow-down"></i>scroll down to see more</p>

      
    </div>

  </section>
  

  <!-- SECTION-2 -->
   

  <section class="aboutme">

    <div class="container">
      <header class="header aboutme-top">
        <nav class="header-nav">
          <ul class="header-list">
            <li><a class="header-link" href="#home">Home</a></li>
            <li><a class="header-link active" href="#" name="about-me">About Me</a></li>
            <li><a class="header-link" href="#portfolio">Portfolio</a></li>
            <li><a class="header-link" href="#contact">Contact</a></li>
          </ul>
        </nav>
      </header>

      <div class="aboutme-content">
        <div class="left-col">
          <img src="img/Jason-Wood.jpg" alt="">
        </div>

        <div class="right-col">
        <h2 class="aboutme-title">About Me</h2>
          <p class="aboutme-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 

          <p class="aboutme-text">  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>

          <span class="signature">Jason Wood</span>
        </div>
      </div>
      

      <p class="scroll-down"><i class="arrow-down" href="#portfolio" ></i>keep scrolling, there is still more to come.</p>

    </div>
  </section>
      
    <!-- SECTION-3 -->

  <section class="portfolio">
    <div class="container">

      <header class="header portfolio-top">
        <nav class="header-nav">
          <ul class="header-list">
            <li><a class="header-link" href="#home" >Home</a></li>
            <li><a class="header-link" href="#about-me">About Me</a></li>
            <li><a class="header-link active" href="#" name="portfolio">Portfolio</a></li>
            <li><a class="header-link" href="#contact">Contact</a></li>
          </ul>
        </nav>
      </header>

      <h2 class="portfolio-title">Portfolio</h2>


      <div class="portfolio-content">
        <div class="photo"><a class="item" href="img/01@2x.jpg"><img src="img/01.jpg" alt="photo"></a></div>
        <div class="photo"><a class="item" href="img/02@2x.jpg"><img src="img/02.jpg" alt="photo"></a></div>
        <div class="photo"><a class="item" href="img/03@2x.jpg"><img src="img/03.jpg" alt="photo"></a></div>
        <div class="photo"><a class="item" href="img/04@2x.jpg"><img src="img/04.jpg" alt="photo"></a></div>
        <div class="photo"><a class="item" href="img/05@2x.jpg"><img src="img/05.jpg" alt="photo"></a></div>
        <div class="photo"><a class="item" href="img/06@2x.jpg"><img src="img/06.jpg" alt="photo"></a></div>
        <div class="photo"><a class="item" href="img/07@2x.jpg"><img src="img/07.jpg" alt="photo"></a></div>
        <div class="photo"><a class="item" href="img/08@2x.jpg"><img src="img/08.jpg" alt="photo"></a></div>
        <div class="photo"><a class="item" href="img/09@2x.jpg"><img src="img/09.jpg" alt="photo"></a></div>
        <div class="photo"><a class="item" href="img/10@2x.jpg"><img src="img/101.jpg" alt="photo"></a></div>
      </div>

      <p class="scroll-down"><i class="arrow-down" href="#"></i> do you want to see it with your own eyes? Scroll!
      </p>
    </div>
  </section>
     
    <!-- SECTION-4 -->

  <section class="footer">
    <div class="container">

      <header class="header footer-top">
        <nav class="header-nav">
          <ul class="header-list">
            <li><a class="header-link" href="#home">Home</a></li>
            <li><a class="header-link" href="#about-me">About Me</a></li>
            <li><a class="header-link" href="#portfolio">Portfolio</a></li>
            <li><a class="header-link active" href="#" name="contact">Contact</a></li>
          </ul>
        </nav>
      </header>

      <div class="contacts mail">
        <p>mail:</p>
        <a href="#">Jason@wood.com</a>
      </div>

      <div class="contacts phone">
        <p>phone:</p>
        <span>+44 212 432 444</span>
      </div>

      <div class="contacts media">
        <p>social media:</p>
        <a class="social icon-facebook" href="#">facebook</a>
        <a class="social icon-twitter" href="#">twitter</a>
        <a class="social icon-instagramm" href="#">instagramm</a>
      </div>
    </div>

    <div class="footer-bottom">
      <p >designed by <a class="copyright" href="#"> Pawel szymankiewicz</a></p>
    </div>
  </section>
  



</div>

  <!--[if lt IE 9]>
  <script src="libs/html5shiv/es5-shim.min.js"></script>
  <script src="libs/html5shiv/html5shiv.min.js"></script>
  <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
  <script src="libs/respond/respond.min.js"></script>
  <![endif]-->

  <script src="libs/jquery/jquery-1.11.2.min.js"></script>
  <script src="libs/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="js/common.js"></script>
</body>
