@font-face {
  font-family: NexaBold;
  src: url('../fonts/Nexa/nexa_bold.eot');
  src: url('../fonts/Nexa/nexa_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Nexa/nexa_bold.woff2') format('woff2'), url('../fonts/Nexa/nexa_bold.woff') format('woff'), url('../fonts/Nexa/nexa_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: NexaLight;
  src: url('../fonts/Nexa/nexa_light.eot');
  src: url('../fonts/Nexa/nexa_light.eot?#iefix') format('embedded-opentype'), url('../fonts/Nexa/nexa_light.woff2') format('woff2'), url('../fonts/Nexa/nexa_light.woff') format('woff'), url('../fonts/Nexa/nexa_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSansLight/opensanslight.eot');
  src: url('../fonts/OpenSansLight/opensanslight.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSansLight/opensanslight.woff2') format('woff2'), url('../fonts/OpenSansLight/opensanslight.woff') format('woff'), url('../fonts/OpenSansLight/opensanslight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: FelTtipWoman;
  src: url('../fonts/FeltTipWoman/felt_tip_woman.eot');
  src: url('../fonts/FeltTipWoman/felt_tip_woman.eot?#iefix') format('embedded-opentype'), url('../fonts/FeltTipWoman/felt_tip_woman.woff2') format('woff2'), url('../fonts/FeltTipWoman/felt_tip_woman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
}
body {
  font-family: NexaLight, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
h2 {
  margin-top: 0;
  font: 6rem NexaLight;
  text-transform: uppercase;
}
section {
  text-align: center;
}
.wrapper {
  width: 100%;
  margin: auto;
}
.container {
  max-width: 1200px;
  min-width: 365px;
  margin: 0 auto;
}
.page-header {
  background-image: url('../img/Background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f1f1f1;
}
.page-header .header-top {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 148px;
}
@media (max-width: 992px) {
  .page-header .header-top {
    margin-bottom: 120px;
  }
}
@media (max-width: 768px) {
  .page-header .header-top {
    margin-bottom: 70px;
  }
}
.page-header .header-logo {
  width: 474px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 768px) {
  .page-header .header-logo {
    width: 360px;
  }
}
@media (max-width: 498px) {
  .page-header .header-logo {
    width: 320px;
  }
}
@media (max-width: 445px) {
  .page-header .header-logo {
    width: 280px;
  }
}
.page-header .header-title {
  margin-top: 40px;
  margin-bottom: 108px;
  letter-spacing: 1px;
}
@media (max-width: 992px) {
  .page-header .header-title {
    margin-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .page-header .header-title {
    font-size: 5rem;
    margin-bottom: 50px;
  }
}
@media (max-width: 630px) {
  .page-header .header-title {
    font-size: 4rem;
  }
}
@media (max-width: 498px) {
  .page-header .header-title {
    font-size: 3.5rem;
  }
}
@media (max-width: 445px) {
  .page-header .header-title {
    font-size: 3rem;
  }
}
@media (max-width: 385px) {
  .page-header .header-title {
    font-size: 2.5rem;
  }
}
.page-header span {
  font-family: NexaBold;
}
.page-header .arrow-down {
  background: url('../img/Double-Arrow.png') 0 0 no-repeat;
}
.header .header-nav {
  padding: 28px 1.5%;
}
@media (max-width: 600px) {
  .header .header-nav {
    padding: 20px 1.5%;
  }
}
.header-list {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}
.header li {
  display: inline-block;
  vertical-align: top;
}
.header-link {
  display: block;
  font: 2.4rem/4.4rem NexaLight, san-serif;
  text-decoration: none;
  padding: 0 25px;
  text-transform: uppercase;
  outline: none;
  color: inherit;
  transition: all 0.2s;
}
.header-link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header-link.active {
  color: red;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  cursor: default;
}
@media (max-width: 670px) {
  .header-link {
    font-size: 2rem;
    line-height: 3.5rem;
  }
}
@media (max-width: 600px) {
  .header-link {
    font-size: 1.7rem;
  }
}
.scroll-down {
  position: relative;
  display: block;
  font: 1.8rem/1.8rem NexaBold;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 90px;
}
@media (max-width: 768px) {
  .scroll-down {
    font-size: 1.5rem;
    padding-bottom: 90px;
  }
}
@media (max-width: 480px) {
  .scroll-down {
    padding-bottom: 50px;
  }
}
.scroll-down .arrow-down {
  position: absolute;
  width: 32px;
  height: 32px;
  bottom: 31px;
  left: 49%;
}
@media (max-width: 768px) {
  .scroll-down .arrow-down {
    left: 48%;
    bottom: 30px;
  }
}
@media (max-width: 480px) {
  .scroll-down .arrow-down {
    display: none;
  }
}
.aboutme {
  bgc: white;
}
.aboutme-top {
  color: #bebebe;
  margin-bottom: 75px;
  border-bottom: 1px solid #bebebe;
}
.aboutme .aboutme-content {
  width: 92%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .aboutme .aboutme-content {
    margin-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .aboutme .aboutme-content {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.aboutme .right-col,
.aboutme .left-col {
  width: 48.5%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .aboutme .right-col,
  .aboutme .left-col {
    width: 90%;
  }
}
.aboutme .right-col {
  text-align: left;
  color: #202020;
  padding: 0 2.6% 0 0;
}
.aboutme-title {
  letter-spacing: 6px;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .aboutme-title {
    font-size: 4.5rem ;
    margin-bottom: 15px;
    margin-top: 10px;
  }
}
.aboutme .aboutme-text {
  font: 1.8rem/2.2rem OpenSans, sans-serif;
  letter-spacing: 0.5px;
}
@media (max-width: 992px) {
  .aboutme .aboutme-text {
    font-size: 1.4rem;
  }
}
.aboutme .signature {
  display: block;
  font: 3.6rem/5rem FeltTipWoman;
  margin-top: 25px;
}
@media (max-width: 992px) {
  .aboutme .signature {
    margin-top: 15px;
  }
}
.aboutme .scroll-down {
  color: #bebebe;
}
.aboutme .arrow-down {
  background: url('../img/Double-Arrow1.png') 0 0 no-repeat;
}
.aboutme .scroll-down,
.portfolio .scroll-down {
  color: #bebebe;
}
.aboutme .arrow-down,
.portfolio .arrow-down {
  background: url('../img/Double-Arrow1.png') 0 0 no-repeat;
}
.portfolio {
  background-image: url('../img/Background1.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: #f1f1f1;
}
.portfolio-top {
  margin-bottom: 70px;
  border-bottom: 1px solid #f1f1f1;
}
.portfolio-title {
  letter-spacing: 6px;
}
@media (max-width: 768px) {
  .portfolio-title {
    font-size: 4.5rem;
  }
}
.portfolio-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 40px;
}
.portfolio .photo {
  position: relative;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 160px;
  display: block;
  width: 17.5%;
  margin: 0 10px;
  margin-bottom: 20px;
  overflow: hidden;
}
.portfolio .photo:hover::after {
  display: block;
}
@media (max-width: 900px) {
  .portfolio .photo:last-child,
  .portfolio .photo:nth-last-child(2) {
    display: none;
  }
}
.portfolio .photo::after {
  content: "";
  position: absolute;
  display: none;
  width: 32px;
  height: 32px;
  bottom: 10px;
  right: 10%;
  background: url('../img/eye-plus.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}
.footer {
  background-color: white;
}
.footer-top {
  color: #bebebe;
  margin-bottom: 130px;
  border-bottom: 1px solid #bebebe;
}
@media (max-width: 768px) {
  .footer-top {
    margin-bottom: 70px;
  }
}
.footer .contacts {
  color: #202020;
  text-transform: uppercase;
}
.footer .contacts p {
  letter-spacing: 1px;
  font: 3rem/4rem NexaBold;
}
@media (max-width: 685px) {
  .footer .contacts p {
    margin-bottom: 10px;
    font-size: 2.5rem;
  }
}
.footer .mail a {
  display: block;
  color: inherit;
  text-decoration: none;
  letter-spacing: 6px;
  font: 6rem/8rem NexaLight;
}
.footer .mail a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .footer .mail a {
    font: 4.5rem/6rem NexaLight;
  }
}
@media (max-width: 720px) {
  .footer .mail a {
    font: 4rem/5.5rem NexaLight;
  }
}
@media (max-width: 685px) {
  .footer .mail a {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
}
@media (max-width: 595px) {
  .footer .mail a {
    font-size: 3rem;
    line-height: 4.7rem;
  }
}
@media (max-width: 540px) {
  .footer .mail a {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}
.footer .phone span {
  display: block;
  letter-spacing: 6px;
  font: 4.8rem/7rem NexaLight;
}
@media (max-width: 720px) {
  .footer .phone span {
    font: 4rem/5.5rem NexaLight;
  }
}
@media (max-width: 685px) {
  .footer .phone span {
    font-size: 3rem;
    line-height: 4.3rem;
  }
}
@media (max-width: 540px) {
  .footer .phone span {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}
.footer .media {
  margin-bottom: 230px;
}
@media (max-width: 768px) {
  .footer .media {
    margin-bottom: 150px;
  }
}
@media (max-width: 685px) {
  .footer .media {
    margin-bottom: 100px;
  }
}
.footer .social {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  width: 61px;
  height: 61px;
  margin-right: 24px;
  border-radius: 50%;
  border: 1px solid #202020;
  background-image: url('../img/sprite.svg');
  background-repeat: no-repeat;
  transition: all 0.2s;
}
.footer .social:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.footer .icon-facebook {
  background-position: -36px 13px;
}
.footer .icon-twitter {
  background-position: 13px 12px;
  fill: red;
}
.footer .icon-instagramm {
  background-position: -82px 12px;
}
.footer .footer-bottom {
  border-top: 1px solid #bebebe;
  font: 1.8rem NexaLight;
  color: #bebebe;
  text-transform: uppercase;
}
.footer .copyright {
  color: inherit;
  text-decoration: none;
}
.footer .copyright:hover {
  text-decoration: underline;
}
/*----live-photo---*/
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.5s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
  transition: all 0.5s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
}
.inline-top {
  display: inline-block;
  vertical-align: top;
}

/*# sourceMappingURL=style.css.map */